<% include ../partials/header%>
<h3>Edit</h3>
<form action="/zoos/<%=zoo._id%>?_method=PUT" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="zoo[name]" id="name" value="<%=zoo.name%>">
  </p>
  <p>
    <label for="location">Location:</label>
    <input type="text" name="zoo[location]" id="location" value="<%=zoo.location%>">
  </p>
  <input type="submit" value="Update">
</form>
<% include ../partials/footer%>