<% include ../partials/header%>
<%zoos.forEach(function(zoo){%>
  <p>
    <a href="/zoos/<%=zoo._id%>"><%=zoo.name%><%=zoo.location%></a>
  </p>
<%})%>

<a href="/zoos/new" class="btn btn-success btn-block">Add a new zoo</a>
<% include ../partials/footer%>