<% include ../partials/header%>
<form action="/zoos" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </p>
  <p>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location">
  </p>
  <input type="submit" value="Add">
</form>
<% include ../partials/footer%>